= phrasing_image_tag('giant_image', size: '500x700')

-# = phrasing_image_tag('giant_image2', size: '500x700', wrapper_html: { class: 'second-image' })
= phrasing_background_image_tag('neat', class: 'neat-image') do
  %span Hello My name is Goran
  %br
  %br
  %span wooot
  %p hello
  %p o hai

-# = phrasing_image_tag('platypus', size: '300x400')

-# = form_for(PhrasingPlus::PhrasingImage.first) do |f|
-#   = f.label :image
-#   = f.file_field :image
-#   = f.submit 'Update'
