%h1 Hello

= phrasing_image_tag('giant_image', size: '300x400')

-# = phrasing_image_tag('platypus', size: '300x400')

-# = form_for(PhrasingPlus::PhrasingImage.first) do |f|
-#   = f.label :image
-#   = f.file_field :image
-#   = f.submit 'Update'
