- if can_edit_phrases?
  .remodal{"data-remodal-id" => "phrasing-plus-modal"}
    %h1 Change the image
    %p
      Drag and drop an image in this window or select from your computer.
      = image_tag('http://zoza.vn/images/up_icon.png')
    %br/
    %a.remodal-cancel{:href => "#"} Revert
    %a.remodal-confirm{:href => "#"} Update
