span.phrasable-image-wrapper {
  font-family: "icomoon";

  position: relative;

  display: inline-block;

  .phrasable-image {
    position: relative;
  }

  form {
    position: absolute;
    top: 0;
    right: 0;

    label {
      font-family: "icomoon";
      font-size: 13px;
      font-weight: 200;

      position: absolute;
      top: 20px;
      right: 20px;

      width: 180px;
      padding: 12px 0;

      text-align: center;

      color: white;
      border: 2px solid white;
      -webkit-border-radius: 35px;
         -moz-border-radius: 35px;
              border-radius: 35px;
      background: #898989;
    }

    input[type=file] {
      display: none;
    }

    button[type=submit] {
      font-family: "icomoon";
      font-size: 13px;
      font-weight: 200;

      position: absolute;
      top: 20px;
      right: 20px;

      display: none;

      width: 181px;
      height: 40px;

      color: white;
      border: 2px solid white;
      -webkit-border-radius: 35px;
         -moz-border-radius: 35px;
              border-radius: 35px;
      background: #56AE45;
    }
  }

  &.phrasable-on {
    .phrasable-image {
      // border: 1px solid black;
      opacity: .8;
    }
  }
}
